*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

html,body,section{
    width: 100%;
    height: 100%;

}

#main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

#panel{
    width:80%;
    height: 80%;
    background: #ffffff;
    border-top-left-radius: 30px ;
    display: none;
}

#paneltop{
    width: 100%;
    height: 100px;
    background-color: #3b3a3a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 20px ;
}
.elem{
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 4px;
}
h2{
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
}

.box{
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 700;
}

#pndw{
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
    width: 100%;
    height: calc(100% - 100px);
    gap: 4px;
    position: relative;
    overflow:scroll;
    justify-content: center;
    align-items: center;
}

#bubble{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: 24px;
    font-weight: 400;
    /* Stop to select text */
  user-select: none;
}
#result{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 100px);
    justify-content: center;
    align-items: center;
    border-radius: 4px ;
    gap: 4px;
}

#bubble:hover{
    cursor: pointer;
    background-color: rgb(35, 32, 32);
}


#start{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}
h1{

    color: white;
}

button{
    background-color: yellow;
    height: 40px;
    width: 100px;
    border-radius: 20px;
}

button:hover{
    background-color: rgb(227, 227, 98);
}

@media (max-width:500px) {
    #panel{
        width:100%;
        height: 100%;
        background: #ffffff;
        border-top-left-radius: 30px ;
        display: none;
    }

    #bubble{
        height: 20px;
        width:20px;
        padding: 16px;
        font-size: 20px;
    }
    
}